:root {
    --red: #ff3838;
    --white: #ffffff;
    --black: #000000;

    --red-one: #CB356B;
    --red-two: #BD3F32;

    --green-one: #56ab2f;
    --green-two: #94d049;

    --black-one: #232526;
    --black-two: #70767b;

    --blue-one: #021B79;
    --blue-two: #0575E6;

    --silver: #bdc3c7;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Pangolin&family=Satisfy&display=swap');

body{
    /* background-image: url(./img/fd2a12a5892e13d5e10b455d7e25f74e.jpg); */
    /* background-image: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
}
#particles-js {
    height: 100vh;
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    /* background-image: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    background-image: url(https://cdn3.vectorstock.com/i/1000x1000/94/47/matrix-hacker-dark-background-vector-13239447.jpg);
    /* background-image: url(./img/fd2a12a5892e13d5e10b455d7e25f74e.jpg); */
    /* background-image: linear-gradient(to left bottom, #c00000, #c1261f, #c03b36, #bd4d4a, #b85d5d); */
  
  }
/* *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
} */
body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#logo {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 250px;
  }
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.row:after,
.row:before {
    box-sizing: border-box;
}

.col-6 {
    width: 50%;
    position: relative;

}

.col-8 {
    width: calc((100%/12)*9);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.col-4 {
    width: calc((100%/12)*3);
    position: relative;
}

.slider {
    overflow: hidden;

}

.fullheight {
    height: 100vh;
}

.product-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.img-wrapper img {
    height: auto;
    width: 60%;

}

.rule-wrapper {
    width: 80%;
    height: 85%;

}

.left-to-right {
    transition: 1s;
    transform: translateX(-150%);
}

.active{
    transition: 1s;
    transform: translateX(0);
}
.active1{
    transition: 1s;
    bottom: 0px !important;
}

.title :nth-child(1) {
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Goldman';
    margin: 10px 0px 0px 0px;
}

.rule {
    padding: 0px 30px;
    margin-bottom: 40px;
}

.rule p {
    color:whitesmoke;
    margin: 30px;
    font-size: 20px;
    font-family: 'Goldman';

}

.input-idTeam {
    position: relative;
    transition: 1s;
    bottom: -500px;
}

/* .buscar-caja {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.buscar-caja:hover>.buscar-txt {
    width: 240px;
    padding: 0 6px;
}

.buscar-caja:hover>.buscar-btn {
    background: white;
    color: black;
}

.buscar-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}

.buscar-btn>i {
    font-size: 30px;
}

.buscar-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
} */

.button {
    display: inline-block;
    padding: 1.25rem 2.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c00000;
    border-radius: 10rem;
    z-index: -2;
  }
  .button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #e86258;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .button:hover {
    color: #fff;
  }
  .button:hover:before {
    width: 100%;
  }
  a{
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
  }
button{
    outline: none;
    border: none;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

/* inputId */
.input-container{
    height: 400px;
    width: 50%;
    background-color: #222;
    transform: translateY(50%);
    margin: auto;
    padding: 20px;
}
.just-title{

    height: 120px;
    display: flex;
    color: white;
}
.just-title-left{
    width: 30%;
    height: 100%;

    text-align: center;
}
.just-title-left img{
    height: 90%;
    padding: 5px ;
}
.just-title-right{
    width: 70%;

}
/* .input_style{
    height: 40px;
    width: 320px;
    border: none;
    background-color: transparent;
    outline: none;
} */

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
    font-family: "Poppins", sans-serif;
    margin: auto;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #fff;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #fff;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, rgb(134, 62, 62),#c00000);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #c00000;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

  .gradient-border {
    --border-width: 3px;

    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif;
    color: white;
    background: #222;
    border-radius: var(--border-width);
  }
  .gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  
